<!DOCTYPE html>
<html>

    <!-- Titulo -->
    <title>Proyecto NE</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- JavaScript -->
    <script type="text/javascript" src="js/w3.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-filter.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/dirPagination.js"></script>
    <script type="text/javascript" src="js/app.jugador.js"></script>

    <!-- Colores -->

    <!-- Temas -->
    <link rel="stylesheet" href="css/themes/w3-theme-cyan.css">

    <!-- Fuentes -->
    <link rel="stylesheet" href="css/fonts/lato.css">
    <link rel="stylesheet" href="css/fonts/montserrat.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .team-img {-webkit-filter: drop-shadow(6px 6px 6px #222 ); filter: drop-shadow(6px 6px 6px #222); margin-bottom: 4px;}
    </style>


    <body>

        <div id="appJugador" ng-app="jugador" ng-controller="ControllerJugador">

            <!-- Menu en pantallas grandes -->
            <div id="menuLarge" class="w3-top">
            </div>

            <!-- Menu en pantallas pequenas -->
            <div id="menuSmall" class="w3-top w3-hide w3-hide-medium w3-hide-large">
            </div>

            <!-- Visualizador -->
            <div id="visualizador" class="w3-modal">
                <div class="w3-modal-content w3-border-red w3-card-4 w3-animate-top">
                    <span onclick="w3.removeClass('#visualizador', 'w3-show')" class="w3-button w3-small w3-display-topright w3-theme-action" title="Cerrar"> <i class="fa fa-remove"></i></span>
                    <img id="visualizador_imagen" src="#" alt="visualizador_imagen" style="align-content: center">
                </div>
            </div>

            <!-- Page Container -->
            <div class="w3-container w3-content" style="margin-top:70px;margin-bottom:30px;max-width:1400px;">

                <div style="display: none;">
                    <a id="tabDef"  href="#!def" >DEF</a>
                    <a id="tabTeam" href="#!team" >TEAM</a>
                    <a href="#!help" >HELP</a>
                    <a href="#!league" >LEAGUE</a>
                    <!-- 
                    Profile {{profile}}
                    Tab {{tab}}
                    -->
                </div>

                <div class="w3-bar w3-theme-action w3-margin-bottom">
                    <button class="boton-profile w3-bar-item w3-button" ng-class="{'w3-theme-d1': profile == 'DEFAULT'}" ng-click="setProfile('DEFAULT')">DEFAULT</button>
                    <button class="boton-profile w3-bar-item w3-button" ng-class="{'w3-theme-d1': profile == 'USUARIO'}" ng-click="setProfile('USUARIO')">USUARIO</button>
                </div>

                <div ng-if="profile === 'DEFAULT'">
                    <div class="w3-bar w3-theme-action">
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'DEF'}" href="#!def" style="text-decoration:none">EQUIPO</a>
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'HELP'}" href="#!help" style="text-decoration:none">AYUDA</a>
                        <!--
                        <button class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'DEF'}" ng-click="setTab('DEF')">EQUIPO</button>
                        <button class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'HELP'}" ng-click="setTab('HELP')">AYUDA</button>
                        -->
                    </div>
                </div>

                <div ng-if="profile === 'USUARIO'">
                    <div class="w3-bar w3-theme-action">
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'TEAM'}" href="#!team" style="text-decoration:none">MI EQUIPO</a>
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'DEF'}" href="#!def" style="text-decoration:none">TRANSFERENCIAS</a>
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'LEAGUE'}" href="#!league" style="text-decoration:none">LIGAS</a>
                        <a class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'HELP'}" href="#!help" style="text-decoration:none">AYUDA</a>
                        <!--
                        <button class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'TEAM'}" ng-click="setTab('TEAM')">MI EQUIPO</button>
                        <button class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'DEF'}" ng-click="setTab('DEF')">TRANSFERENCIAS</button>
                        <button class="boton-tab w3-bar-item w3-button" ng-class="{'w3-theme-d1': tab == 'HELP'}" ng-click="setTab('HELP')">AYUDA</button>
                        -->
                    </div>
                </div>

                <div ng-view></div>

            </div>
            <!-- Fin Page Container -->

            <!-- Jugador -->
            <div>
                <div ng-include="'jugador.html'">
                </div>
            </div>

            <!-- Confirmar Equipo -->
            <div id="confirmTeam" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-opacity w3-theme-l3" style="max-width:500px">
                    <img class="w3-hover-opacity" src="img/cesped.jpg" style="width:100%"> 
                    <span onclick="w3.hide('#confirmTeam')" class="w3-button w3-small w3-display-topright w3-theme-action" title="Cancelar"> <i class="fa fa-remove"></i></span>
                    <form class="w3-container" action="confirmTeam" method="POST">
                        <div class="w3-section">
                            <label>Nombre del equipo</label>
                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingresa el nombre de tu equipo" name="teamName" id="teamName" ng-required="true" ng-model="miEquipo.nombre">

                            <input class="w3-button w3-block w3-margin-bottom w3-padding w3-theme-action" type="button" value="Confirmar Equipo" id="confirmaEquipo" ng-click="enviarEquipoDefault()" />
                        </div>
                    </form>
                    <div class="w3-container w3-border-top w3-padding-16 w3-theme-l1">
                        <button onclick="w3.hide('#confirmTeam')" class="w3-button w3-theme-action">Cancelar</button>
                    </div>
                </div>
            </div>

            <!-- Mensaje -->
            <div id="mensaje" class="w3-modal" onclick="w3.removeClass('#mensaje', 'w3-show')">
                <div class="w3-modal-content w3-card-4 w3-animate-top w3-animate-opacity w3-theme-l3">
                    <span onclick="w3.removeClass('#mensaje', 'w3-show')" class="w3-button w3-small w3-display-topright w3-theme-action" title="Cerrar"> <i class="fa fa-remove"></i></span>
                    <header class="w3-container">
                        <h4 id="mensaje_titulo">mensaje_titulo</h4>
                    </header>
                    <div class="w3-container w3-theme-l5 w3-padding-24">
                        <h4 id="mensaje_contenido">mensaje_contenido</h4>
                    </div>
                    <footer class="w3-container">
                    </footer>
                </div>
            </div>

            <!-- Quote of the day -->
            <div class="w3-container w3-padding-32 w3-center w3-theme">
                <h1 class="w3-xlarge w3-margin">Quote of the day: live life</h1>
            </div>

            <!-- Footer -->
            <footer class="w3-container w3-padding-32 w3-center w3-theme-d2">
                <div class="w3-xlarge w3-padding-16">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                    <i class="fa fa-twitter w3-hover-opacity"></i>
                    <i class="fa fa-instagram w3-hover-opacity"></i>
                    <i class="fa fa-linkedin w3-hover-opacity"></i>
                </div>
                <p>Creado por <a class="w3-theme-d2" href="https://twitter.com/jtsoya539" target="_blank" style="text-decoration:none">@jtsoya539</a></p>
            </footer>

        </div>

    </body>

</html>
