
                <!-- The Grid -->
                <div class="w3-row-padding">
                    <script>
                        //alert('def');
                        angular.element(document.getElementById('appJugador')).scope().setTab('DEF');
                    </script>
                    <!-- Left Column -->
                    <div id="main" class="w3-col m8 l9 w3-animate-left">
                        <!-- Mi Equipo -->
                        <!--
                        <table class="w3-table w3-bordered w3-margin-top">
                            <thead>
                              <tr class="w3-theme">
                                <th></th>
                                <th>Mi Equipo</th>
                                <th></th>
                                <th>$</th>
                                <th>Pts</th>
                              </tr>
                            </thead>
                            <tbody style="cursor:pointer">
                                <tr class="w3-hover-light-grey" ng-repeat="jugador in miEquipo.integrantes" ng-click="verIntegrante(jugador)">
                                        <td><a href="javascript:void(0);" ng-click="eliminarIntegrante(jugador)"> X </a></td>
                                        <td>{{ jugador.nm }}</td>
                                        <td>{{ jugador.cl }}</td>
                                        <td>{{ jugador.pc }}</td>
                                        <td>{{ jugador.pt }}</td>
                                </tr>
                            </tbody>
                        </table>
                        -->

                        <div class="w3-bar w3-margin-bottom w3-margin-top w3-center w3-hide-medium w3-hide-large">
                            <button class="w3-button w3-padding w3-theme-action w3-right" id="playerListMenu" onclick="w3.toggleClass('#main', 'w3-hide-small'); w3.toggleClass('#main', 'w3-animate-left'); w3.toggleClass('#playerList', 'w3-hide-small'); w3.toggleClass('#playerList', 'w3-animate-right');">
                                <span ng-if="tab == 'DEF'">Lista de jugadores</span>
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>

                        <!-- Mi Equipo2 -->
                        <div class="w3-container w3-padding w3-margin-bottom w3-margin-top w3-center w3-theme">
                            <h4 ng-if="profile == 'DEFAULT' && tab == 'DEF'" class="w3-margin">Equipo</h4>
                            <h4 ng-if="profile == 'USUARIO' && tab == 'DEF'" class="w3-margin">Transferencias</h4>
                        </div>

                        <!-- Vista Default -->
                        <div ng-if="tab == 'DEF'">

                            <!-- Encabezado -->
                            <div class="w3-row w3-margin-bottom">
                                <div class="w3-col s12 m6 l6">
                                    <div class="w3-card-2 w3-round w3-white w3-center w3-container w3-row" style="margin:0.5em; height:5em">
                                        <div class="w3-col s6 m6 l6 w3-panel">
                                            <button class=" w3-button w3-theme-action" style="width:90%">Auto Pick</button>
                                        </div>
                                        <div class="w3-col s6 m6 l6 w3-panel">
                                            <button class=" w3-button w3-theme-action" style="width:90%" ng-click="reset()">Reset</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col s6 m3 l3">
                                    <div class="w3-card-2 w3-round w3-white w3-center w3-container" style="margin:0.5em; height:5em">
                                        <div class="w3-panel">
                                             Jugadores<br><strong>{{ miEquipo.integrantes.length }} / {{ misJugadores.length }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-col s6 m3 l3">
                                    <div class="w3-card-2 w3-round w3-white w3-center w3-container" style="margin:0.5em; height:5em">
                                        <div class="w3-panel">
                                            Saldo disponible<br><strong>$ {{ money }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w3-bar w3-theme-action w3-row">
                                <button class="boton-seleccion w3-button w3-col s6 w3-half" ng-class="{'w3-theme-d1': view == 'LIST'}" ng-click="setView('LIST')">LISTA</button>
                                <button class="boton-seleccion w3-button w3-col s6 w3-half" ng-class="{'w3-theme-d1': view == 'PITCH'}" ng-click="setView('PITCH')">CAMPO</button>
                            </div>

                            <!-- Vista Default de Lista -->
                            <div id="DefListView" class="seleccion w3-border" ng-if="view == 'LIST'">
                                <div ng-repeat="(key1, value) in misJugadores | groupBy: '[pos]'">
                                <!-- <div ng-repeat="(key1, value) in items | groupBy: '[pos]'"> -->
                                    <!-- <div ng-repeat="(key2, value) in value | groupBy: '[color]'"> -->
                                    <table class="w3-table w3-bordered" >
                                        <thead>
                                            <tr class="w3-{{ posiciones[key1].color }}">
                                                <th></th>
                                                <th >{{ posiciones[key1].desc }}
                                                </th>
                                                <th >
                                                </th>
                                                <th >$
                                                </th>
                                                <th >Pts
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody style="cursor:pointer">
                                            <!--<tr class="w3-hover-light-grey" ng-class="{'w3-text-blue-grey': jugador.mt === 1}" ng-repeat="jugador in value|filter:search|orderBy:sortKey:reverse" ng-click="verIntegrante(jugador)"> -->
                                            <tr class="w3-hover-light-grey" ng-class="{'w3-text-blue-grey': jugador.id === '' && transfer !== ''}" ng-repeat="jugador in value" ng-click="jugador.id === '' ? null : verIntegrante(jugador)" ng-style="{cursor: jugador.id === '' ? 'default' : 'pointer'}">
                                                <td><a ng-if="jugador.id !== ''" href="javascript:void(0);" ng-click="eliminarIntegrante(jugador)"> X </a></td>
                                            <td>{{ jugador.id === '' ? transfer === '' ? '.' : transfer.nm : jugador.nm }}</td>
                                                <td>{{ jugador.id === '' ? '' : jugador.cl }}</td>
                                                <td>{{ jugador.pc }}</td>
                                                <td>{{ jugador.pt }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- </div> -->
                                </div> 
                            </div> 
                            <!-- Fin Vista Default de Lista -->

                            <!-- Vista Default de Campo -->
                            <div id="DefPitchView" class="seleccion w3-border w3-display-container" ng-if="view == 'PITCH'">
                                <!-- Mi Equipo -->
                                <img src="img/background.png" style="width:100%"> 
                                <div class="w3-display-topleft w3-center" style="height:100%; width:100%">

                                  <div style="display:flex; justify-content:center; height:25%; width:100%" ng-repeat="(key1, value) in misJugadores | groupBy: '[pos]'">

                                      <div class="w3-display-container" style="width:20%;display:flex; justify-content:center;" ng-repeat="jugador in value" >

                                            <div class="w3-display-container" style="width:80%;">
                                                <div class="w3-display-topleft w3-hide-small">
                                                    <button ng-if="jugador.id !== ''" href="javascript:void(0);" ng-click="eliminarIntegrante(jugador)" class="boton-seleccion w3-button w3-theme-action glyphicon glyphicon-remove" style="padding: 0.5em"></button>
                                                </div>
                                                <img ng-class="{'w3-opacity': jugador.id === '' && transfer !== ''}" class="team-img" src="img/team/{{ jugador.cl }}.png" style="width:50%" ng-click="jugador.id === '' ? null : verIntegrante(jugador)" ng-style="{cursor: jugador.id === '' ? 'default' : 'pointer'}"> 
                                                <!-- Pantallas grandes -->
                                                <div ng-class="{'w3-opacity': jugador.id === '' && transfer !== ''}"  class="w3-container w3-center w3-tag w3-theme-action w3-hide-small" ng-click="jugador.id === '' ? null : verIntegrante(jugador)" ng-style="{cursor: jugador.id === '' ? 'default' : 'pointer'}" style="width:100%">
                                                  <p>{{ jugador.id === '' ? transfer === '' ? 'Agregar ' + posiciones[key1].desc : transfer.nm : jugador.nm }}</p>
                                                </div>
                                                <div ng-if="jugador.id !== ''" class="w3-container w3-center w3-tag w3-theme w3-hide-small" >
                                                  <p>{{ jugador.id === '' ? null : posiciones[key1].desc }}</p>
                                                </div>
                                                <!-- Pantallas pequenas -->
                                                <div ng-class="{'w3-opacity': jugador.id === '' && transfer !== ''}"  class="w3-center w3-theme-action w3-small w3-hide-medium w3-hide-large" ng-click="jugador.id === '' ? null : verIntegrante(jugador)" ng-style="{cursor: jugador.id === '' ? 'default' : 'pointer'}" style="width:100%">
                                                  <div>{{ jugador.id === '' ? transfer === '' ? 'Agregar ' + posiciones[key1].desc : transfer.ap : jugador.ap }}</div>
                                                </div>
                                                <div ng-if="jugador.id !== ''" class="w3-center w3-theme w3-tiny w3-hide-medium w3-hide-large" style="width:100%">
                                                  <div>{{ jugador.id === '' ? null : key1 }}</div>
                                                </div>
                                            </div>

                                      </div>

                                  </div>

                                </div>

                            </div> 
                            <!-- Fin Vista Default de Campo -->

                            <!-- Confirmar Equipo -->
                            <div class="w3-container w3-margin-bottom w3-margin-top w3-center">
                                <input ng-if="profile == 'DEFAULT'" class="w3-button w3-padding w3-theme-action" type="button" value="Confirmar Equipo" id="confirm" onclick="w3.show('#confirmTeam')" ng-disabled="!readyDefaultTeam"/>
                                <input ng-if="profile == 'USUARIO'" class="w3-button w3-padding w3-theme-action" type="button" value="Confirmar Equipo" id="confirma" onclick="w3.show('#confirmTransfer')" ng-disabled="!readyTeam"/>
                            </div>
                        </div>
                        <!-- Fin Vista Default -->
                        
                    </div>

                    <!-- Right Column -->
                    <div id="playerList" class="w3-col m4 l3 w3-hide-small">
                        <div class="w3-bar w3-margin-bottom w3-margin-top w3-center w3-hide-medium w3-hide-large">
                            <button class="w3-button w3-padding w3-theme-action w3-right" id="BackMenu" onclick="w3.toggleClass('#main', 'w3-hide-small'); w3.toggleClass('#main', 'w3-animate-left'); w3.toggleClass('#playerList', 'w3-hide-small'); w3.toggleClass('#playerList', 'w3-animate-right');">
                                <i class="fa fa-arrow-left"></i> Atr&aacutes
                            </button>
                        </div>

                        <!-- Alert Box -->
                        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-margin-top" ng-if="message != ''">
                            <span ng-click="setMessage('')" class="w3-button w3-theme-l3 w3-display-topright">
                                <i class="fa fa-remove"></i>
                            </span>
                            <p class="w3-padding-small"><strong>Hey!</strong></p>
                            <p class="w3-padding-small">{{message}}</p>
                        </div>

                        <!-- Vista Default -->
                        <div ng-if="tab == 'DEF'">
                            <!-- Búsqueda de jugadores -->
                            <form class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom ">
                                <div class="w3-section">
                                    <label >Buscar jugador</label>
                                    <input type="text" ng-model="search" class="w3-input w3-border w3-margin-bottom" placeholder="Nombre o club">
                                </div>
                            </form>

                            <!-- Seleccion de jugadores -->
                            <div ng-repeat="(key1, value) in jugadores | groupBy: '[pos]'">
                            <!-- <div ng-repeat="(key1, value) in items | groupBy: '[pos]'"> -->
                                <!-- <div ng-repeat="(key2, value) in value | groupBy: '[color]'"> -->
                                <table class="w3-table w3-bordered w3-small" >
                                    <thead>
                                        <tr class="w3-{{ posiciones[key1].color }}">
                                            <th style="width: 64%" ng-click="sort('nm')">{{ posiciones[key1].desc }}
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='nm'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="width: 12%" ng-click="sort('cl')">
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='cl'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="width: 12%" ng-click="sort('pc')">$
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='pc'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th style="width: 12%" ng-click="sort('pt')">Pts
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='pt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody style="cursor:pointer">
                                        <!--<tr class="w3-hover-light-grey" ng-class="{'w3-text-blue-grey': jugador.mt === 1}" ng-repeat="jugador in value|filter:search|orderBy:sortKey:reverse" ng-click="verIntegrante(jugador)"> -->
                                        <tr class="w3-hover-light-grey" ng-class="{'w3-text-blue-grey': jugador.mt === 1}" dir-paginate="jugador in value|filter:search|orderBy:sortKey:reverse|itemsPerPage:6" ng-click="verIntegrante(jugador)">
                                            <td>{{ jugador.nm }}</td>
                                            <td>{{ jugador.cl }}</td>
                                            <td>{{ jugador.pc }}</td>
                                            <td>{{ jugador.pt }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <div ng-if="key1 == 'DEL'">   
                                        <!-- style="display: none;" -->
                                        <dir-pagination-controls id="ss"
                                                max-size="2"
                                                direction-links="true"
                                                boundary-links="true" >
                                        </dir-pagination-controls>
                                    </div>
                                <!-- </div> -->
                            </div> 
                        </div> 
                        <!-- Fin Vista Default -->

                    </div>
                </div>
